home-kubernetes-chrb-vmp-ms1.yaml
home-kubernetes-chrb-vmp-ms2.yaml
home-kubernetes-chrb-vmp-ms3.yaml
home-kubernetes-chrb-vmp-nd1.yaml
home-kubernetes-chrb-vmp-nd2.yaml
home-kubernetes-chrb-vmp-nd3.yaml
talosconfig
home-kubernetes-chrb-vm-ms1.yaml
home-kubernetes-chrb-vm-ms2.yaml
home-kubernetes-chrb-vm-ms3.yaml
home-kubernetes-chrb-vm-nd1.yaml
home-kubernetes-chrb-vm-nd2.yaml
home-kubernetes-chrb-vm-nd3.yaml
