# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
_old_kubeconfig
_old_talosconfig
.decrypted~*.yaml
.config.env
*.agekey
/age.key
*.pub
*.key
/cluster.yaml
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Private
.private*
.private/
.bin
/old
# Ansible
.venv*
.venv/
# Taskfile
.task
.task/
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
/nodes.yaml
#Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate
terrafrom.tfstate.backup