---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gramps

spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      gramps:

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17.6"
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: gramps-init-db

        containers:
          app:
            image: &image
              repository: ghcr.io/gramps-project/grampsweb
              tag: 25.11.0@sha256:a2167dc175586e415ba6e744b70032044283c9fb83de1c5766c57c7caa6d43b3
              pullPolicy: IfNotPresent

            env: &envs
              TZ: ${CLUSTER_TIMEZONE}
              GRAMPSWEB_TREE: "gramps"
              GRAMPSWEB_BASE_URL: "https://heritage.${SECRET_DOMAIN}"
              LOG_LEVEL: INFO
              # GRAMPSWEB_MEDIA_PREFIX_TREE: false
              GRAMPSWEB_REGISTRATION_DISABLED: False
            envFrom:
              - secretRef:
                  name: gramps-secret

            resources:
              requests:
                cpu: "10m"
                memory: "128Mi"
              limits:
                memory: "2Gi"

          worker:
            image: *image
            command:
              [
                "celery",
                "-A",
                "gramps_webapi.celery",
                "worker",
                "--loglevel=INFO",
              ]

            env: *envs
            envFrom:
              - secretRef:
                  name: gramps-secret

            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 1024Mi

    service:
      app:
        controller: gramps
        ports:
          http:
            port: &port 5000

    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          gramps:
            app:
              - path: "/app/users"
                subPath: "app/users"
              - path: "/app/cache"
                subPath: "app/cache"
              - path: "/app/indexdir"
                subPath: "app/indexdir"
              - path: "/app/thumbnail_cache"
                subPath: "app/thumbnail_cache"
              - path: "/app/secret"
                subPath: "app/secret"
              - path: "/root/.gramps/grampsdb"
                subPath: "root/.gramps/grampsdb"
              - path: "/app/media"
                subPath: "app/media"
            worker:
              - path: "/app/users"
                subPath: "app/users"
              - path: "/app/cache"
                subPath: "app/cache"
              - path: "/app/indexdir"
                subPath: "app/indexdir"
              - path: "/app/thumbnail_cache"
                subPath: "app/thumbnail_cache"
              - path: "/app/secret"
                subPath: "app/secret"
              - path: "/root/.gramps/grampsdb"
                subPath: "root/.gramps/grampsdb"
              - path: "/app/media"
                subPath: "app/media"
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
