---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
  namespace: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.10.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system

  install:
    createNamespace: false
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    global:
      # fullnameOverride: authentik
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret

      envFrom:
        - secretRef:
            name: authentik-secret

    geoip:
      # -- enable GeoIP sidecars for the authentik server and worker pods
      enabled: false

    server:
      replicas: 1

      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
          envFrom:
            - secretRef:
                  name: authentik-init-db

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

      resources:
        requests:
          cpu: 50m
          memory: 500Mi
        limits:
          memory: 800Mi

    authentik:
      log_level: info
      email:
        use_tls: false
      outposts:
        container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
      error_reporting:
        enabled: false
        send_pii: false

    postgresql:
      enabled: false
    redis:
      enabled: false
    prometheus:
      rules:
        enabled: true

    worker:
      name: worker
      replicas: 1

      resources:
        requests:
          cpu: 50m
          memory: 500Mi
        limits:
          memory: 1200Mi

