---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-microservices

spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  maxHistory: 5
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 5
  uninstall:
    keepHistory: false

  dependsOn:
    - name: immich-server
      namespace: media

  values:
    controllers:
      immich-microservices:
        replicas: 1

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a

            env:
              #General
              TZ: ${CLUSTER_TIMEZONE}
              IMMICH_WORKERS_EXCLUDE: api

            envFrom:
              - configMapRef:
                  name: immich-configmap
              - secretRef:
                  name: immich-secrets

            resources:
              requests:
                cpu: 10m
                gpu.intel.com/i915: 1
                memory: 512Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 6000Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"

    persistence:
      library:
        type: nfs
        server: "${LOCAL_LAN_NAS}"
        path: /mnt/tank/photo
        globalMounts:
          - path: /usr/src/app/upload
