---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: &name firefly-iii-cron
  labels: &labels
    app.kubernetes.io/name: firefly-iii-cron
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled

spec:
  schedule: "*/15 * * * *"
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels: *labels
    spec:
      activeDeadlineSeconds: 120
      backoffLimit: 5
      template:
        metadata:
          labels: *labels
        spec:
          restartPolicy: Never
          containers:
            - name: *name
              image: curlimages/curl:8.17.0@sha256:1e809b44e4cdf8a64a1bfe37875d4758a39454d686c2ff3c4a0fbeda93aae519
              imagePullPolicy: IfNotPresent
              command:
                - /usr/bin/curl
              args:
                - --silent
                - --show-error
                - --fail
                - firefly-iii.selfhosted.svc.cluster.local:8080/api/v1/cron/$(STATIC_CRON_TOKEN)
              env:
                - name: STATIC_CRON_TOKEN
                  valueFrom:
                    secretKeyRef:
                      name: firefly-iii-secret
                      key: STATIC_CRON_TOKEN

          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - firefly-iii
                  topologyKey: kubernetes.io/hostname
